window {
	background: rgba(128, 0, 0, 0.8);
	border: 3px solid #000000;
}

#input {
	border: 2px solid #000000;
	background-color: #800000;
	color: #FFFFFF;
	font-size: 18px;
}

#outer-box {
	margin: 10px;
}

#scroll {
	color: #999999;
	font-size: 16px;
	margin: 5px 0px;
}

#scroll label {
	margin: 2px 0px;
}

#entry:selected {
	background: rgba(13, 0, 0, 0.3);
	color: #EEEEEE;
}
